* {
	font-family: sans-serif;
}

html, body {
	margin: 0;
	padding: 0;
	height: 100%;
}

body {
	display: table;
	width: 100%;
}

a, a:visited {
	color: #333;
}


table {
	border-collapse: collapse;
}
td, th { border: 1px solid #AAA; }
th { white-space: nowrap; }


header, main, footer {
	display: table-row;
}

header, footer {
	height: 4em;
}

nav {
	display: table;
	margin: auto;
	margin-top: 1em;
}

nav ul {
	list-style-type: none;
	display: table-row;
}

nav ul li {
	display: table-cell;
	padding-left: 1em;
	padding-right: 1em;
}


.centered-box {
	display: table;
	margin: auto;
	height: 100%;
}

.centered-box .content {
	display: table-cell;
	vertical-align: middle;
}

.fourohfour-image {
	display: table; /* so we get auto-width */
	margin: auto; /* so it's centred */
	width: 853px; /* most of the images i have are gonna be DVD resolution */
	height: 480px;
	font-family: sans-serif;
	font-weight: bold;
	font-size: 36pt;
	color: rgba(255, 255, 255, .8);
	text-transform: uppercase;
	-webkit-text-stroke: 2px #666;
	text-stroke: 2px #666;
	/*
	text-shadow:
		-3px -3px 0 #333,  
		 3px -3px 0 #333,
		-3px  3px 0 #333,
		 3px  3px 0 #333;
	*/
}

.fourohfour-row {
	display: table-row;
}

.fourohfour-row .top {
	display: table-cell;
	vertical-align: top;
}

.fourohfour-row .bottom {
	display: table-cell;
	vertical-align: bottom;
}

#page-path {
	display: table;
	margin: auto;
	margin: 1em auto;
}

#page-path .path-separator {
	margin: auto .5em;
}

.list-table th, .list-table td {
	padding-left: .5em;
	padding-right: .5em;
}

.list-table th {
	background-color: #666;
	color: #FFF;
	font-size: 14pt;
}

.list-table .field-label {
	text-align: right;
	font-weight: bold;
}

.code-serial {
	text-align: right;
}

.add-tag {
	float: right;
}

.tag-parent {
	font-weight: bold;
}

.tag-parent div {
	font-weight: normal;
	display: inline-block;
	margin-left: .2em;
}

#tag-table {
	margin: auto;
}

#tag-table .tag-list {
	padding: .2em 1em;
}

#tag-table .tag {
	display: inline-block;
	border: 1px solid #AAA;
	background-color: #EEE;
	padding: 3px;
}
